# Y.Music

<a id='back'></a>
# Table of Contents

* [Intro](#intro)
* [Stage 1. Data Overview](#data_review)
     * [Conclusion](#data_review_conclusions)
* [Stage 2. Data preprocessing](#data_preprocessing)
     * [2.1 Header Style](#header_style)
     * [2.2 Missing Values](#missing_values)
     * [2.3 Duplicates](#duplicates)
     * [2.4 Conclusion](#data_preprocessing_conclusions)
* [Stage 3. Hypothesis Testing](#hypotheses)
     * [3.1 Hypothesis 1: User activity in both cities](#activity)
     * [3.2 Hypothesis 2: Music preference on Mondays and Fridays](#week)
     * [3.3 Hypothesis 3: Genre preferences in the cities of Springfield and Shelbyville](#genre)
* [Findings](#end)

## Introduction <a id='intro'></a>
Every time we carry out an analysis, we need to formulate several hypotheses that we need to test further. Sometimes, the tests we carry out lead us to accept the hypothesis. But at other times, we also need to reject it. To make the right decisions in business, we must understand whether the assumptions we make are correct or not.

In this project, you will compare the music preferences of listeners in the cities of Springfield and Shelbyville. You'll review real data from Y.Music to test some of the hypotheses below and compare user behavior in both cities.

### Objective:
Testing three hypotheses:
1. User activity varies depending on the day and city.
2. On Monday mornings, residents of Springfield and Shelbyville listen to different genres. This also applies to Friday nights.
3. Listeners in the cities of Springfield and Shelbyville have different preferences. In Springfield, users prefer pop music, while in Shelbyville rap music has more fans.

### Stages
Data related to user behavior is stored in the file `/datasets/music_project_en.csv`. There is no information regarding the quality of the data, therefore you need to check it first before testing the hypothesis.

First, you'll evaluate the quality of the data and see if the problem is significant. Then, during data pre-processing, you will try to address the most serious problems.
 
The project consists of three stoveaes:
  1. Data revew
  2. Data pre-processing
  3. Hypothesis testing

 
[Back to Content](#back)

## Stage 1. Data Overview <a id='data_review'></a>

Open the data related to Y.Music, then study the data.

You will need the `Pandas` library, so feel free to import it.

In [1]:
import pandas as pd # import Pandas

Read the `music_project_en.csv` file from the `/datasets/` folder and save it in the `df` variable:

In [2]:
df = pd.read_csv('/datasets/music_project_en.csv') # read the file and save it to the df variable
df.describe()

          userID  Track     artist  genre       City        time     Day
count      65079  63736      57512  63881        65079     65079   65079
unique     41748  39666      37806    268            2     20392       3
top     A8AE9169  Brand  Kartvelli    pop  Springfield  08:14:07  Friday
freq          76    136        136   8850        45360        14   23149

Show the first 10 rows of the table:

In [3]:
df.head(10) # gets the first 10 rows of the df table

,userID,Track,artist,genre,City,time,Day
0,FFB692EC,Kamigata To Boots,The Mass Missile,rock,Shelbyville,20:28:33,Wednesday
1,55204538,Delayed Because of Accident,Andreas Rönnberg,rock,Springfield,14:07:09,Friday
2,20EC38,Funiculì funiculà,Mario Lanza,pop,Shelbyville,20:58:07,Wednesday
3,A3DD03C9,Dragons in the Sunset,Fire + Ice,folk,Shelbyville,08:37:09,Monday
4,E2DC1FAE,Soul People,Space Echo,dance,Springfield,08:34:34,Monday
5,842029A1,Chains,Obladaet,rusrap,Shelbyville,13:09:41,Friday
6,4CB90AA5,True,Roman Messer,dance,Springfield,13:00:07,Wednesday
7,F03E1C1F,Feeling This Way,Polina Griffith,dance,Springfield,20:47:49,Wednesday
8,8FA1D3BE,L’estate,Julia Dalia,ruspop,Springfield,09:17:40,Friday
9,E772D5C0,Pessimist,NaN,dance,Shelbyville,21:20:49,Wednesday

Get general information about a table with one command:

In [4]:
df.info() # obtains general information about the data available in df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65079 entries, 0 to 65078
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0     userID  65079 non-null  object
 1   Track     63736 non-null  object
 2   artist    57512 non-null  object
 3   genre     63881 non-null  object
 4     City    65079 non-null  object
 5   time      65079 non-null  object
 6   Day       65079 non-null  object
dtypes: object(7)
memory usage: 3.5+ MB

This table contains seven columns. All columns have the same data type, namely: `object`.

Based on the documentation:
- `'userID'` — User ID
- `'Track'` — song title
- `'artist'` — artist name
- `'genre'`
- `'City'` — user's home city
- `'time'` — the time when the song was played
- `'Day'` — day of the week

We can see three problems with the column name writing style:
1. Some names are written in uppercase, some in lowercase.
2. Some names use spaces.
3. `Find yourself a third problem in the style of writing column names and explain the problem here`.

We can also see that there is a different number of values between the columns. This indicates that the data we have contains missing values.

### Conclusion <a id='data_review_conclusions'></a>

Each row in the table stores data related to the song track being played. Several columns store data that describes the track itself: song title, artist and genre. The rest stores data related to user information: their hometown, the time they played the song track.

It is clear that the data we have is sufficient to test the hypothesis. Unfortunately, there are some values missing.

To continue the analysis, we need to pre-process the data first.

[Back to Table of Contents](#back)

## Stage 2. Data preprocessing <a id='data_preprocessing'></a>
Correct the formatting of column headings and resolve missing values. Then, check whether your data contains duplicates.

### Header style <a id='header_style'></a>
Show column headings:

In [5]:
df.columns # list containing column names in the df table

Index(['  userID', 'Track', 'artist', 'genre', '  City  ', 'time', 'Day'], dtype='object')

Rename columns according to the rules of good writing style:
* If the column name consists of multiple words, use snake_case
* All characters must be in lower case
* Remove spaces

In [6]:
# rename columns
df = df.rename(columns={'  userID': 'user_id',
                        'Track': 'track',
                        '  City  ': 'city',
                        'Day': 'day'})

Check the results. Display the column names again:

In [7]:
df.columns # check your results: display once again the list containing the column names

Index(['user_id', 'track', 'artist', 'genre', 'city', 'time', 'day'], dtype='object')

[Back to Table of Contents](#back)

### Missing values <a id='missing_values'></a>
First, find the number of missing values in the table. To do this, use two `Pandas` methods:

In [8]:
df.isna().sum().sort_values(ascending=False) # impute missing values

artist     7567
track      1343
genre      1198
user_id       0
city          0
time          0
day           0
dtype: int64

Not all missing values affect your research. For example, missing values in the `track` and `artist` columns are not that important. You just need to replace it with a clear marker.
However, missing values in the `'genre'` column could affect the comparison of music preferences in the cities of Springfield and Shelbyville. In real life, it is very useful to learn the reasons for such data loss and try to fix them. Unfortunately, we haven't had that opportunity in this project. Therefore, you must:
* Fill in missing values with markers
* Evaluate how much missing values affect your calculations

Replace missing values in the `'track'`, `'artist'`, and `'genre'` columns with the string `'unknown'`. To do this, create a list called `columns_to_replace`, apply a `for` loop to it, and replace the missing values in each column:

In [9]:
# apply a loop to the column names and replace missing values with 'unknown'
columns_to_replace = ['track', 'artist', 'genre']

for col in columns_to_replace:
    df[col].fillna('unknown', inplace=True)

Make sure no more tables contain missing values. Recalculate missing values.

In [10]:
df.isna().sum().sort_values(ascending=False)# impute missing values

user_id    0
track      0
artist     0
genre      0
city       0
time       0
day        0
dtype: int64

[Back to Table of Contents](#back)

### Duplicates <a id='duplicates'></a>
Determine the number of explicit duplicates in a table using a single command:

In [11]:
df.duplicated().sum() # count explicit duplicates

3826

Call one of the `Pandas` methods to remove explicit duplicates:

In [12]:
df = df.drop_duplicates().reset_index(drop=True) # remove explicit duplicates

Count the explicit duplicates again to make sure you've successfully removed them all:

In [13]:
df.duplicated().sum() # check for duplicates

0

Now, remove the implicit duplicates in the `genre` column. For example, writing a genre name in a different way is an example of implicit duplicity. Errors like this will also affect the results of your analysis.

Display a list containing unique genre names, then sort the list alphabetically. To do so:
* Retrieve the desired DataFrame columns
* Apply the sorting method to that column,
* For a column that has been sorted, call a method that returns all unique values of the column

In [14]:
df.genre.unique() # displays unique genre names

array(['rock', 'pop', 'folk', 'dance', 'rusrap', 'ruspop', 'world',
       'electronic', 'unknown', 'alternative', 'children', 'rnb', 'hip',
       'jazz', 'postrock', 'latin', 'classical', 'metal', 'reggae',
       'triphop', 'blues', 'instrumental', 'rusrock', 'dnb', 'türk',
       'post', 'country', 'psychedelic', 'conjazz', 'indie',
       'posthardcore', 'local', 'avantgarde', 'punk', 'videogame',
       'techno', 'house', 'christmas', 'melodic', 'caucasian',
       'reggaeton', 'soundtrack', 'singer', 'ska', 'salsa', 'ambient',
       'film', 'western', 'rap', 'beats', "hard'n'heavy", 'progmetal',
       'minimal', 'tropical', 'contemporary', 'new', 'soul', 'holiday',
       'german', 'jpop', 'spiritual', 'urban', 'gospel', 'nujazz',
       'folkmetal', 'trance', 'miscellaneous', 'anime', 'hardcore',
       'progressive', 'korean', 'numetal', 'vocal', 'estrada', 'tango',
       'loungeelectronic', 'classicmetal', 'dubstep', 'club', 'deep',
       'southern', 'black', 'folkrock', 'fitness', 'french', 'disco',
       'religious', 'hiphop', 'drum', 'extrememetal', 'türkçe',
       'experimental', 'easy', 'metalcore', 'modern', 'argentinetango',
       'old', 'swing', 'breaks', 'eurofolk', 'stonerrock', 'industrial',
       'funk', 'middle', 'variété', 'other', 'adult', 'christian',
       'thrash', 'gothic', 'international', 'muslim', 'relax', 'schlager',
       'caribbean', 'nu', 'breakbeat', 'comedy', 'chill', 'newage',
       'specialty', 'uzbek', 'k-pop', 'balkan', 'chinese', 'meditative',
       'dub', 'power', 'death', 'grime', 'arabesk', 'romance', 'flamenco',
       'leftfield', 'european', 'tech', 'newwave', 'dancehall', 'mpb',
       'piano', 'top', 'bigroom', 'opera', 'celtic', 'tradjazz',
       'acoustic', 'epicmetal', 'hip-hop', 'historisch', 'downbeat',
       'downtempo', 'africa', 'audiobook', 'jewish', 'sängerportrait',
       'deutschrock', 'eastern', 'action', 'future', 'electropop',
       'folklore', 'bollywood', 'marschmusik', 'rnr', 'karaoke', 'indian',
       'rancheras', 'afrikaans', 'rhythm', 'sound', 'deutschspr', 'trip',
       'lovers', 'choral', 'dancepop', 'retro', 'smooth', 'mexican',
       'brazilian', 'ïîï', 'mood', 'surf', 'gangsta', 'inspirational',
       'idm', 'ethnic', 'bluegrass', 'broadway', 'animated', 'americana',
       'karadeniz', 'rockabilly', 'colombian', 'self', 'hop', 'sertanejo',
       'japanese', 'canzone', 'lounge', 'sport', 'ragga', 'traditional',
       'gitarre', 'frankreich', 'emo', 'laiko', 'cantopop', 'glitch',
       'documentary', 'oceania', 'popeurodance', 'dark', 'vi', 'grunge',
       'hardstyle', 'samba', 'garage', 'art', 'folktronica', 'entehno',
       'mediterranean', 'chamber', 'cuban', 'taraftar', 'gypsy',
       'hardtechno', 'shoegazing', 'bossa', 'latino', 'worldbeat',
       'malaysian', 'baile', 'ghazal', 'arabic', 'popelectronic', 'acid',
       'kayokyoku', 'neoklassik', 'tribal', 'tanzorchester', 'native',
       'independent', 'cantautori', 'handsup', 'punjabi', 'synthpop',
       'rave', 'französisch', 'quebecois', 'speech', 'soulful', 'jam',
       'ram', 'horror', 'orchestral', 'neue', 'roots', 'slow', 'jungle',
       'indipop', 'axé', 'fado', 'showtunes', 'arena', 'irish',
       'mandopop', 'forró', 'dirty', 'regional'], dtype=object)

Look carefully at the list that has been displayed to find implicit duplicates of the `hiphop` genre. The duplicate could be an incorrectly written name or an alternative name of the same genre.

You will see the following implicit duplicate:
* `hip`
* `hop`
* `hip-hop`

To remove it, use the `replace_wrong_genres()` function with two parameters:
* `wrong_genres=` — list with duplicates to replace
* `correct_genre=` — string with correct value

The function should correct the names in the `'genre'` column of the `df` table, replacing each value from the `wrong_genres` list with a value from `correct_genre`.

In [15]:
# enter a function that replaces implicit duplicates
def replace_wrong_genres (df, wrong_genres, correct_genre):
    df['genre'] = df['genre'].replace(wrong_genres, correct_genre)

Call `replace wrong genres()` and write arguments to the function, so that it can remove implicit duplicates (`hip`, `hop`, and `hip-hop`) and replace them with `hiphop`:

In [16]:
wrong_genres = ['hip', 'hop', 'hip-hop']
correct_genre = 'hiphop'

replace_wrong_genres(df, wrong_genres, correct_genre) # remove implicit duplicates

Make sure that duplicate values have been removed. Display a list of unique values from the `'genre'` column:

In [17]:
df.genre.unique() # check for implicit duplicates

array(['rock', 'pop', 'folk', 'dance', 'rusrap', 'ruspop', 'world',
       'electronic', 'unknown', 'alternative', 'children', 'rnb',
       'hiphop', 'jazz', 'postrock', 'latin', 'classical', 'metal',
       'reggae', 'triphop', 'blues', 'instrumental', 'rusrock', 'dnb',
       'türk', 'post', 'country', 'psychedelic', 'conjazz', 'indie',
       'posthardcore', 'local', 'avantgarde', 'punk', 'videogame',
       'techno', 'house', 'christmas', 'melodic', 'caucasian',
       'reggaeton', 'soundtrack', 'singer', 'ska', 'salsa', 'ambient',
       'film', 'western', 'rap', 'beats', "hard'n'heavy", 'progmetal',
       'minimal', 'tropical', 'contemporary', 'new', 'soul', 'holiday',
       'german', 'jpop', 'spiritual', 'urban', 'gospel', 'nujazz',
       'folkmetal', 'trance', 'miscellaneous', 'anime', 'hardcore',
       'progressive', 'korean', 'numetal', 'vocal', 'estrada', 'tango',
       'loungeelectronic', 'classicmetal', 'dubstep', 'club', 'deep',
       'southern', 'black', 'folkrock', 'fitness', 'french', 'disco',
       'religious', 'drum', 'extrememetal', 'türkçe', 'experimental',
       'easy', 'metalcore', 'modern', 'argentinetango', 'old', 'swing',
       'breaks', 'eurofolk', 'stonerrock', 'industrial', 'funk', 'middle',
       'variété', 'other', 'adult', 'christian', 'thrash', 'gothic',
       'international', 'muslim', 'relax', 'schlager', 'caribbean', 'nu',
       'breakbeat', 'comedy', 'chill', 'newage', 'specialty', 'uzbek',
       'k-pop', 'balkan', 'chinese', 'meditative', 'dub', 'power',
       'death', 'grime', 'arabesk', 'romance', 'flamenco', 'leftfield',
       'european', 'tech', 'newwave', 'dancehall', 'mpb', 'piano', 'top',
       'bigroom', 'opera', 'celtic', 'tradjazz', 'acoustic', 'epicmetal',
       'historisch', 'downbeat', 'downtempo', 'africa', 'audiobook',
       'jewish', 'sängerportrait', 'deutschrock', 'eastern', 'action',
       'future', 'electropop', 'folklore', 'bollywood', 'marschmusik',
       'rnr', 'karaoke', 'indian', 'rancheras', 'afrikaans', 'rhythm',
       'sound', 'deutschspr', 'trip', 'lovers', 'choral', 'dancepop',
       'retro', 'smooth', 'mexican', 'brazilian', 'ïîï', 'mood', 'surf',
       'gangsta', 'inspirational', 'idm', 'ethnic', 'bluegrass',
       'broadway', 'animated', 'americana', 'karadeniz', 'rockabilly',
       'colombian', 'self', 'sertanejo', 'japanese', 'canzone', 'lounge',
       'sport', 'ragga', 'traditional', 'gitarre', 'frankreich', 'emo',
       'laiko', 'cantopop', 'glitch', 'documentary', 'oceania',
       'popeurodance', 'dark', 'vi', 'grunge', 'hardstyle', 'samba',
       'garage', 'art', 'folktronica', 'entehno', 'mediterranean',
       'chamber', 'cuban', 'taraftar', 'gypsy', 'hardtechno',
       'shoegazing', 'bossa', 'latino', 'worldbeat', 'malaysian', 'baile',
       'ghazal', 'arabic', 'popelectronic', 'acid', 'kayokyoku',
       'neoklassik', 'tribal', 'tanzorchester', 'native', 'independent',
       'cantautori', 'handsup', 'punjabi', 'synthpop', 'rave',
       'französisch', 'quebecois', 'speech', 'soulful', 'jam', 'ram',
       'horror', 'orchestral', 'neue', 'roots', 'slow', 'jungle',
       'indipop', 'axé', 'fado', 'showtunes', 'arena', 'irish',
       'mandopop', 'forró', 'dirty', 'regional'], dtype=object)

[Back to Table of Contents](#back)

### Conclusion <a id='data_preprocessing_conclusions'></a>
We have detected three problems in our data:

- Wrong title writing style
- Missing values
- Explicit and implicit duplicates

Now, the column names have been cleaned up to make table processing easier.
All missing values have also been replaced with `'unknown'`. However, we still have to see whether missing values in the `'genre'` column will affect our calculations.

The absence of duplicates will make the results we get more precise and easier to understand.

Come on, let's move on to the hypothesis testing stage.

[Back to Table of Contents](#back)

## Stage 3. Hypothesis testing <a id='hypotheses'></a>

### Hypothesis 1: compare user behavior in two cities <a id='activity'></a>

According to the first hypothesis, users from the cities of Springfield and Shelbyville have different behavior in listening to music. This test uses data taken from three days of the week: Monday, Wednesday, and Friday.

* Divide users into groups by city.
* Compare how many song tracks each group played on Monday, Wednesday, and Friday.

Do each calculation separately so you can practice.

Evaluate user activity in each city. Group the data by city and find the number of song tracks played in each group.

In [18]:
# Counts the songs played in each city
df.groupby('city')['track'].count().reset_index()

          city  track
0  Shelbyville  18512
1  Springfield  42741

Users from the city of Springfield played more tracks than users from the city of Shelbyville. However, this does not necessarily imply that Springfield residents listen to music more often. The city is indeed bigger, and there are more users. So, this is a natural thing.

Now, group the data by day and find the number of song tracks played on Monday, Wednesday, and Friday.

In [19]:
# Counts the songs played on each day
df.groupby('day')['track'].count().reset_index()

         day  track
0     Friday  21840
1     Monday  21354
2  Wednesday  18059

Wednesday is the most "quiet" day overall. But if we consider the two cities separately, we might come to a different conclusion.

You've seen how grouping by city or day works. Now, write a function that will group the data by city and day.

Create a `number_tracks()` function to count the number of song tracks played for a given day and city. The function will require two parameters:
* name of the day of the week
* city name

In the function we created, use variables to store rows from the original table, where:
   * The value of the `'day'` column is the same as the `day` parameter,
   * The value of the `'city'` column is the same as the `city` parameter

Implement sequential filtering with logical indexing.

Then, calculate the value of the `'user_id'` column in the resulting table. Save the result into a new variable. Return this variable from the function.

In [20]:
# <create function number_tracks()>
# We will declare a function with two parameters: day=, city=.
# Make the track_list variable store the df rows, where
# the value in the 'day' column is the same as the day= parameter, and at the same time,
# the value in the 'city' column is the same as the city= parameter (apply sequential filtering
# with logical indexing).
# Make the track_list_count variable store the number of values for the 'user_id' column in the track_list
# (find with count() method).
# Make the function you create produce a number: track_list_count value.
# The function counts the songs played for a given city and day.
# First of all, it will fetch the row with the desired day from the table,
# then filter those rows with the desired city from the results,
# then look for the number of 'user_id' values in the filtered table,
# then generates that amount.
# To see what is produced, wrap the function call in print().
def number_tracks (day, city) :
  track_list = df.loc[(df['day']==day) & (df['city']==city)]['user_id'].count()
  return track_list

Call `number_tracks()` six times and change the parameter value on each call, so that you can retrieve data from both cities for each day (Monday, Wednesday, and Friday).

In [21]:
# number of songs played in Springfield on Monday
monday_springfield = number_tracks('Monday', 'Springfield')

In [22]:
# number of songs played in Shelbyville on Monday
monday_shelbyville = number_tracks('Monday', 'Shelbyville')

In [23]:
# number of songs played in Springfield on Wednesday
wednesday_springfield = number_tracks('Wednesday', 'Springfield')

In [24]:
# number of songs played in Shelbyville on Wednesday
wednesday_shelbyville = number_tracks('Wednesday', 'Shelbyville')

In [25]:
# number of songs played in Springfield on Friday
friday_springfield = number_tracks('Friday', 'Springfield')

In [26]:
# number of songs played in Shelbyville on Friday
friday_shelbyville = number_tracks('Friday', 'Shelbyville')

Use `pd.DataFrame` to create a table, which
* The column names are: `['city', 'monday', 'wednesday', 'friday']`
* The data is the result you get from `number_tracks()`

In [27]:
# table containing the results
data = {'city' : ['Springfield', 'Shelbyville'],
     'monday' :[monday_springfield, monday_shelbyville],
     'wednesday' : [wednesday_springfield , wednesday_shelbyville],
     'friday' : [friday_springfield , friday_shelbyville]}

df_table = pd.DataFrame(data)

df_table

          city  monday  wednesday  friday
0  Springfield   15740      11056   15945
1  Shelbyville    5614       7003    5895

**Conclusion**

The data you get turns out to reveal several differences in user behavior:

- In the city of Springfield, the number of songs played peaks on Mondays and Fridays, while on Wednesdays there is a decline in activity.
- In the city of Shelbyville, on the other hand, users listen to music more on Wednesdays. User activity on Mondays and Fridays is less.

Thus, it can be concluded that the first hypothesis seems to be correct.

[Back to Table of Contents](#back)

### Hypothesis 2: Music preference on Mondays and Fridays <a id='week'></a>

According to the second hypothesis, on Monday mornings and Friday evenings, Springfield residents listen to a different genre of music than the residents of Shelbyville enjoy.

Get the table (make sure the combined table name matches the DataFrame given in the two code blocks below):
* For Springfield — `spr_general`
* For Shelbyville — `shel_general`

In [28]:
# get spr_general table from df row,
# where the value of the 'city' column is 'Springfield'
spr_general = df[df['city'] == 'Springfield']

In [29]:
# get shel_general from df row,
# where the value of the 'city' column is 'Shelbyville'
shel_general = df[df['city'] == 'Shelbyville']

Create a `genre_weekday()` function with four parameters:
* A table for data
* Name of the day
* Initial timestamp, in 'hh:mm' format
* End timestamp, in 'hh:mm' format

The function should produce information about the 15 most popular genres on a given day in the period between two timestamps.

In [30]:
# Declare the function genre_weekday() with parameters day=, time1=, and time2=. The function must be
# provides information about the most popular genres on a given day and time:
     # Filter the df based on the conditions
#1) Make the genre_df variable store rows that meet the following conditions:
# - the value in the 'day' column is the same as the value of the day= argument
# - the value in the 'time' column is greater than the value of the time1= argument
# - the value in the 'time' column is smaller than the value of the time2= argument
# Use sequential filtering with logical indexing.
#2) Group genre_df by column 'genre', take one of the columns,
# then use the count() method to find the number of entries for each
# genres represented; save the resulting Series into
# variable genre_df_count
#3) Sort genre_df_count in descending order by frequency and save the result
# into the genre_df_sorted variable
#4) Generate a Series object with the first 15 genre_df_sorted values - the 15 most genres
# popular (on a given day, within a given time period)
# write your function here
def genre_weekday(df, day, time1, time2):

     # sequential filtering
     # genre_df will only store df rows whose day is equal to day
     genre_df = df[df['day'] == day]# write your program code here

     # genre_df will only store df rows whose time is less than time2
     genre_df = genre_df[genre_df['time'] < time2]# write your program code here

     # genre_df will only store df rows whose time is greater than time1
     genre_df = genre_df[genre_df['time'] > time1]# write your program code here

     # group the filtered DataFrame by the column with the genre name, take the genre column, and find the number of rows for each genre with the count() method
     genre_df_count=genre_df.groupby('genre')['user_id'].count()# write your program code here

     # # we will sort the results in descending order (so that the most popular genres are displayed first in the Series object)
     genre_df_sorted = genre_df_count.sort_values(ascending=False) # write your program code here

     # we will generate a Series object that stores the 15 most popular genres on a given day within a given time period
     return genre_df_sorted[:15]

Compare the results of the `genre_weekday()` function for Springfield and Shelbyville on Monday morning (from 7:00 to 11:00) and on Friday evening (from 17:00 to 23:00):

In [31]:
# call function for Monday morning in Springfield (use spr_general instead of df table)
monday_morning_springfield = genre_weekday(spr_general, day='Monday', time1='07:00:00', time2='11:00:00')

monday_morning_springfield

genre
pop            781
dance          549
electronic     480
rock           474
hiphop         286
ruspop         186
world          181
rusrap         175
alternative    164
unknown        161
classical      157
metal          120
jazz           100
folk            97
soundtrack      95
Name: user_id, dtype: int64

In [32]:
# call function for Monday morning in Shelbyville (use shel_general instead of df table)
monday_morning_shelbyville = genre_weekday(shel_general, day='Monday', time1='07:00:00', time2='11:00:00')

monday_morning_shelbyville

genre
pop            218
dance          182
rock           162
electronic     147
hiphop          80
ruspop          64
alternative     58
rusrap          55
jazz            44
classical       40
world           36
rap             32
soundtrack      31
rnb             27
metal           27
Name: user_id, dtype: int64

In [33]:
# calling function for Friday night in Springfield"
friday_night_springfield = genre_weekday(spr_general, day='Friday', time1='17:00:00', time2='23:00:00')

friday_night_springfield

genre
pop            713
rock           517
dance          495
electronic     482
hiphop         273
world          208
ruspop         170
classical      163
alternative    163
rusrap         142
jazz           111
unknown        110
soundtrack     105
rnb             90
metal           88
Name: user_id, dtype: int64

In [34]:
# calling function for Friday night in Shelbyville
friday_night_shelbyville = genre_weekday(shel_general, day='Friday', time1='17:00:00', time2='23:00:00')

friday_night_shelbyville

genre
pop            256
rock           216
electronic     216
dance          210
hiphop          97
alternative     63
jazz            61
classical       60
rusrap          59
world           54
unknown         47
ruspop          47
soundtrack      40
metal           39
rap             36
Name: user_id, dtype: int64

**Conclusion**

After comparing the top 15 genres as of Monday morning, we can draw the following conclusions:

1. Users from Springfield and Shelbyville listen to music of the same genre. The top five genres from both cities are the same, only rock and electronic have swapped places.

2. In Springfield, the number of missing values turned out to be so large that the value `'unknown'` was in 10th place. This means that the missing values account for a fairly large proportion of the data, so this fact can be used as a basis for questioning the reliability of our conclusions.

For Friday night, the situation was also similar. Individual genres varied quite a bit, but overall, the top 15 genres for both cities were the same.

Thus, the second hypothesis is proven to be partially correct:
* Users listen to the same music at the start and end of the week.
* There are no significant differences between Springfield and Shelbyville. In both cities, pop is the most popular genre.

However, the significance of the number of missing values makes this result questionable. In Springfield, there is a lot of missing value that impacts our top 15 genre results. If we did not have those missing values, the results might have been different.

[Back to Table of Contents](#back)

### Hypothesis 3: Genre preferences in the cities of Springfield and Shelbyville <a id='genre'></a>

Hypothesis: listeners in the city of Shelbyville like rap music, while listeners in the city of Springfield prefer pop.

Group the `spr_general` table by genre and find the number of tracks played for each genre with the `count()` method. Then, sort the results in descending order and save them to `spr_genres`.

In [35]:
# in one row: group spr_general table by column 'genre',
# count 'genre' column value with count() in grouping,
# sort the resulting Series in descending order, then save the result to spr_genres
spr_genres = spr_general['genre'].value_counts().sort_values(ascending=False)

Show the first 10 lines of `spr_genres`:

In [36]:
# displays the first 10 lines of spr_genres
spr_genres.head(10)

genre
pop            5892
dance          4435
rock           3965
electronic     3786
hiphop         2096
classical      1616
world          1432
alternative    1379
ruspop         1372
rusrap         1161
Name: count, dtype: int64

Now, do the same thing with the data from Shelbyville.

Group the `shel_general` table by genre and find the number of tracks played for each genre. Then, sort the results in descending order and save them to the `shel_genres` table:

In [37]:
# in one row: group the shel_general table by column 'genre',
# count 'genre' column values in grouping using count(),
# sort the resulting Series in descending order and save it to shel_genres
shel_genres = shel_general['genre'].value_counts().sort_values(ascending=False)

Show the first 10 lines of `shel_genres`:

In [38]:
shel_genres.head(10) # displays the first 10 lines of shel_genres

genre
pop            2431
dance          1932
rock           1879
electronic     1736
hiphop          960
alternative     649
classical       646
rusrap          564
ruspop          538
world           515
Name: count, dtype: int64

**Conclusion**

This hypothesis was proven to be partially correct:
* Pop music is the most popular genre in Springfield, as we would expect.
* However, pop music turned out to be equally popular in both Springfield and Shelbyville, and rap music apparently didn't make the top 5 list of genres for either city.

[Back to Table of Contents](#back)

# Findings <a id='end'></a>

We have tested the following three hypotheses:

1. User activity varies depending on the day and city.
2. On Monday mornings, residents of Springfield and Shelbyville listen to different genres. This also applies to Friday nights.
3. Listeners in the cities of Springfield and Shelbyville have different preferences. In both Springfield and Shelbyville, users prefer pop music.

After analyzing the available data, we can conclude that:

1. User activity in Springfield and Shelbyville depends on the day of the week, although these two cities vary in different ways.

The first hypothesis can be completely accepted.

2. Music preferences do not vary significantly across the week in Springfield and Shelbyville. We can see a small difference in the order on Monday, but:
* In both Springfield and Shelbyville, users listen most to pop music.

Therefore, we cannot accept this hypothesis. It is also important to remember that the results obtained could have been different had we not had missing values.
3. It turns out that the music preferences of users from the cities of Springfield and Shelbyville are very similar.

The third hypothesis is rejected. If there really are differences in preferences, unfortunately we cannot know this from this data.
### Notes
In real projects, research involves statistical hypothesis testing, which is of course more precise and more quantitative. Also note that you can't always draw conclusions about an entire city based on data from just one source.

You will learn hypothesis testing in the statistical data analysis sprint.

[Back to Table of Contents](#back)